.App {
  max-width: 1320px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 118px;
  padding-right: 118px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 560px) {
  .App {
      padding-left: 34px;
      padding-right: 34px;
  }
}
