.sidebar__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

@media screen and (max-width: 560px) {
  .sidebar__subtitle {
    font-size: 15px;
  }
}